@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Delius&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hubballi&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Sacramento&display=swap');

/* 1. Use a more-intuitive box-sizing model */

:root {
  --text-color: #403233;
  --background-color: #f3dfc1;
  --contrast-color: #fc7753;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  font-size: 3rem;
  width: 60vw;
  margin: 0 auto;
  /* added custom font */
  font-family: Chilanka, serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 400;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  /* REM font sizing */
  font-size: 62.5%;
}

/* Start of component styling */

.header,
.footer {
  font-weight: 500;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  justify-content: space-between;
}

.header {
  padding: 2.5rem 0 0;
  margin-bottom: 4rem;
}

/* .menu-icon {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  pointer-events: none;
} */

.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main {
  margin: 2.5rem 0;
}

.posts {
  display: flex;
  margin-bottom: 5rem;
  gap: 3rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.button {
  background-color: #000;
  /* border-radius: 1rem; */
  padding: 1rem 3rem;
  color: #fff;
}

/* Hero */

.heading-smaller {
  font-size: 5rem;
}

.hero {
  display: block;
  margin-bottom: 5rem;
}

.hero-img {
  border-radius: 2rem;
  margin-bottom: 2rem;
  height: 50rem;
  width: 100%;
  object-fit: cover;
}

/* hover states */

.nav__link {
  transition: all 100ms ease-out;
}

.nav__link:hover {
  color: var(--contrast-color);
}

.hero__heading {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero__desc {
  margin-bottom: 2rem;
}

/* posts */

.post {
  display: block;
}

.post-img {
  height: auto;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.title {
  padding-left: 2rem;
  font-size: 2.5rem;
}

.footer {
  padding-bottom: 5rem;
}

@media screen and (max-width: 100em) {
  .hero-img {
    height: 40rem;
  }
}

@media screen and (max-width: 62.6em) {
  .posts {
    flex-direction: column;
  }
  .menu-icon {
    display: block;
    visibility: visible;
    pointer-events: all;
  }

  .nav__list {
    font-size: 3rem;
  }

  .nav__list-3 {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .title {
    padding-top: 2rem;
  }

  .title {
    font-size: 4rem;
  }

  .heading-smaller {
    margin-bottom: 2.5rem;
  }
  .header {
    margin-bottom: 8rem;
  }

  .hero-img {
    margin-bottom: 4rem;
    /* height: 40rem; */
  }

  .posts {
    margin-bottom: 8rem;
  }

  body {
    width: 90vw;
  }

  .post {
    display: block;
  }

  .post-img {
    width: 100%;
  }
}

@media screen and (max-width: 38em) {
  .hero__heading {
    font-size: 3rem;
  }

  .header {
    margin-bottom: 4rem;
  }

  .hero {
    margin-bottom: 3rem;
  }

  .heading-smaller {
    font-size: 3rem;
  }

  .hero-img {
    height: 25rem;
    margin-bottom: 2rem;
  }

  .post-img,
  .hero-img {
    border-radius: 1.5rem;
  }

  .hero__desc,
  .title {
    font-size: 2rem;
  }

  .nav__list {
    font-size: 2rem;
  }

  .posts {
    margin-bottom: 6rem;
  }
}
