
<h1 class="hero__heading">Blog Posts</h1>
<section class="blog-posts">
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
  <div class="blog-post">Post title and Content</div>
</section>