<a href="/blog" class="hero">
  <img class="hero-img" src="https://docs.astro.build/assets/rose.webp" alt="Blog Hero">
  <h1 class="hero__heading">Why cats may be the best pet for you!</h1>
  <p class="hero__desc">Cats are awesome, you should know this. Really, consider getting one..</p>
</a>