---
import Hero from './Hero.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')
console.log(allPosts)
import PostComponent from './PostComponent.astro'
---


<section class="main">
  <Hero />
  <h3 class="heading-smaller">Awesome Posts</h3>
  <section class="posts">
 {allPosts.map(post => <PostComponent title={post.frontmatter.title} description={post.frontmatter.description} img={post.frontmatter.image.url} alt={post.frontmatter.image.alt}/>)}
  </section>
</section>
