<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-1"><a class="nav__link" href='/blog'>Blog</a></li>
    <li class="nav__list-2"><a class="nav__link" href="/about">About Us</a></li>
    <li class="nav__list-3"><a class="nav__link" href="/socials">Socials</a></li>
  </ul>
</nav>