<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-1"><a href='/blog'>Blog</a></li>
    <li class="nav__list-2"><a href="/about">About Us</a></li>
    <li class="nav__list-3"><a href="/socials">Socials</a></li>
  </ul>
</nav>