---
const {img, title, description, alt} = Astro.props
---


<div class="post">
  <img class="post-img" src={img} alt={alt}>
  <h2 class="title">{title}</h2>
  <!-- <p class="desc">{description}</p> -->
</div>